@using Ictshop.Models;
@model List<GioHang>

@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>HÌNH THỨC THANH TOÁN</h1>

    <a href="@Url.Action("Payment","GioHang")">
        <img src=https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg class="img-responsive" alt="" width="200" height="200" />
    </a>






